<h1>{{ status }}</h1>

<div class="hands-flex-row" *ngIf="isStarted()">
    <div [ngClass]="{animated: !userSelection && isRunning()}">
        <div class="hand-image" [ngClass]="getCardClass(userSelection)" title="{{userSelection}}"></div>
    </div>

    <div *ngIf="isStarted()" class="game-timer">{{gameTime}}</div>

    <div [ngClass]="{animated: isRunning()}" class="mirror-animated">
        <div class="hand-image mirror" [ngClass]="getCardClass(aiSelection)" title="{{aiSelection}}"></div>
    </div>
</div>

<div class="hands-flex-row scaled">
    <div class="hand-image {{type}}" [ngClass]="{selected: type === userSelection}"
         *ngFor="let type of TYPES" (click)="selectHand(type)" title="{{type}}">
    </div>
</div>

<div class="history-data">
    <div *ngFor="let item of history" class="history-data-row {{item.type}}">
        <div class="scaled-history-image"><div  class="hand-image {{item.user}}"></div></div>
        <div class="scaled-history-image"><div  class="hand-image {{item.ai}}"></div></div>
    </div>
</div>

<button (click)="play()" [ngClass]="{hidden: !isRunning}"> {{isStarted() ? 'PLAY AGAIN': 'START'}}</button>
<div *ngIf="isStarted()" class="stats">
    won / lose / nobody / total
    <div class="bold">{{stats.win}} / {{stats.lose}} / {{stats.nobodyWin}} / {{stats.win + stats.lose + stats.nobodyWin}}</div>
</div>
