:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hand-image {
    background-image: url(/assets/ROCK-PAPER-SCISSORS.png);
    width: 122px;
    height: 122px;
    border-radius: 150px;
    transform: rotate(-210deg);
    border: 4px solid white;
    background-position: -25px -24px;
}

.hand-image.selected {
    border-color: red;
}

.hand-image.scissors,
.hand-image.paper,
.hand-image.rock {
    transform: rotate(0deg);
}

.hand-image.rock {
    transform: rotate(0deg) scale(-1, 1);
}

.hand-image.paper {
    background-position: -153px -61px;
}

.hand-image.scissors {
    transform: scale(-1, 1);
    background-position: -58px -148px;
}

.hand-image.mirror.paper {
    transform: rotate(0deg) scale(-1, 1);
}

.hand-image.mirror.scissors,
.hand-image.mirror.rock {
    transform: rotate(0deg);
}

.hand-image.mirror {
    transform: rotate(210deg) scale(-1, 1);
}

.animated {
    animation: hand-keyframes 0.3s linear infinite;
}

.animated.mirror-animated {
    animation: hand-keyframes-mirror 0.3s linear infinite;
}

@keyframes hand-keyframes {
    0%   { transform:rotate(0deg); }
    10% { transform:rotate(30deg); }   /*fast*/
    50% { transform:rotate(40deg); }
    60% { transform:rotate(30deg); }  /*slow*/
    100% { transform:rotate(0deg); }
}

@keyframes hand-keyframes-mirror {
    0%   { transform:rotate(0deg); }
    10% { transform:rotate(-30deg); }
    50% { transform:rotate(-40deg); }
    60% { transform:rotate(-30deg); }
    100% { transform:rotate(0deg); }
}

.game-timer {
    width: 50px;
    text-align: center;
    font-size: 28px;
}

.hands-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.hands-flex-row.scaled {
    transform: scale(0.5);
    margin: -20px;
}

.hands-flex-row.scaled .hand-image:hover:not(.selected) {
    border-color: #e4e4e4;
    opacity: 0.8;
    cursor: pointer;
}

h1 {
    min-height: 60px;
    margin-bottom: 0;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.stats {
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
}
.stats .bold {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.history-data {
    position: absolute;
    left: 0;
    top: 8px;
    max-height: 400px;
    overflow-x: hidden;
    width: 80px;
    overflow-y: auto;
}

.history-data-row {
    display: flex;
    align-items: center;
    height: 30px;
}
.history-data-row.win { background: #d3ffd3; }
.history-data-row.lose { background: #ffdcdc; }
.history-data-row.nobodyWin { background: whitesmoke; }

.scaled-history-image {
    transform: scale(0.2,0.2);
    width: 27px;
}
