<h1>ROCK-PAPER SCISSORS</h1>

<div *ngIf="!isGameStarted">lalala before game started</div>
<button (click)="play()">Click me!</button>

<div class="flexy" style="    transform: scale(0.5);">
    <div class="main-image {{type}}"  [ngClass]="{selected: type === userSelection}"
         *ngFor="let type of TYPES"
         (click)="selectClass(type)" title="{{type}}">
    </div>
</div>

<div class="flexy">
    <div [ngClass]="{animated: !userSelection && interval}">
        <div class="main-image" [ngClass]="getClass(userSelection)" title="{{userSelection}}"></div>
    </div>
    <div *ngIf="isGameStarted" class="time">{{time}}</div>
    <div [ngClass]="{animated: interval}" class="mirror-animated">
        <div class="main-image mirror" [ngClass]="getClass(aiSelection)"  title="{{aiSelection}}"></div>
    </div>
</div>

<div>{{status}}</div>
