.main-image {
    background-image: url('./ROCK-PAPER-SCISSORS.png');
    width: 125px;
    height: 124px;
    background-position-x: -24px;
    background-position-y: -22px;
    border-radius: 150px;
    transform: rotate(-210deg);
    border: 4px solid white;
}

.main-image.selected {
    border-color: red;
}

.main-image.scissors,
.main-image.paper,
.main-image.rock {
    transform: rotate(0deg);
}
.main-image.rock {
    transform: rotate(0deg) scale(-1, 1);
}

.main-image.paper {
    background-position-x: -153px;
    background-position-y: -60px;
}
.main-image.scissors {
    background-position-x: -57px;
    background-position-y: -146px;
    transform: scale(-1, 1);
}

.main-image.mirror.paper {
    transform: rotate(0deg) scale(-1, 1);
}

.main-image.mirror.rock {
    transform: rotate(0deg) scale(1, 1);
}

.main-image.mirror {
    transform: rotate(210deg) scale(-1, 1);
}

.animated {
    animation:spin 0.3s linear infinite;
}

.animated.mirror-animated {
    animation:spin-mirror 0.3s linear infinite;
}


@keyframes spin {
    0%   { transform:rotate(0deg);}
    10% { transform:rotate(30deg); }
    50% { transform:rotate(40deg); }
    60% { transform:rotate(30deg); }
    100% { transform:rotate(0deg); }
}


@keyframes spin-mirror {
    0%   { transform:rotate(0deg);}
    10% { transform:rotate(-30deg); }
    50% { transform:rotate(-40deg); }
    60% { transform:rotate(-30deg); }
    100% { transform:rotate(0deg); }
}


.time {
}

.flexy {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
